@import"./variable";

body{
    background-color: rgba(color(primary), 1.0);
}; 

.holiday-parent{
    display: flex;
    position: relative;
    flex-direction: column;
    width: 35rem;
    height: auto;
};

.holiday{
    width: 20rem;  
    height: 20rem;
    text-align: center;
};

.holiday-child{
    display: flex;
    position: absolute;
    flex-direction: row;
    margin: 1rem 1rem 0rem 1rem;
};

.ao{
    margin: 0rem 1rem 0rem 0rem;
};


.holiday-child2{
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: center;
};

.donut{
    margin: 20rem 0rem 0rem 10rem;
};



