@import"./variable";

body{
    background-color: rgba(color(primary), 1.0)
}; 

.holiday-parent{
    display: flex;
    flex-direction: column;
    width: 35rem;
    height: auto;
};

.holiday{
    width: 20rem;  
    height: 20rem;
};

.holiday-child{
    display: flex;
    flex-direction: row;
    margin: 1rem 1rem 0rem 1rem;
};

.ao{
    margin: 0rem 1rem 0rem 0rem;
};


.holiday-child2{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 7rem;
};

.donut{
    margin: -1rem 0rem 0rem 0rem;
};



